In [6]:
# Convert .bed file with 'chr1' to '1'

import pandas as pd

raw_p_mm9 = pd.read_csv('/data2/josh/chipseq/Rad21/macs14_peaks.bed',
                        sep='\t',
                        header=None,
                        names=['chr','start','end','name','score'])
raw_p_mm9.head()

  chr    start      end         name   score
0   1  4757308  4761283  MACS_peak_1   71.60
1   1  4766131  4771692  MACS_peak_2   77.89
2   1  7083400  7088397  MACS_peak_3   75.09
3   1  7162937  7168004  MACS_peak_4  111.72
4   1  7386728  7389090  MACS_peak_5   71.67

In [7]:
# raw_p_mm9['chr'] = raw_p_mm9['chr'].astype(str).str[-2:]
raw_p_mm9['chr'] = 'chr' + raw_p_mm9['chr'].astype(str)

In [8]:
raw_p_mm9.head()

    chr    start      end         name   score
0  chr1  4757308  4761283  MACS_peak_1   71.60
1  chr1  4766131  4771692  MACS_peak_2   77.89
2  chr1  7083400  7088397  MACS_peak_3   75.09
3  chr1  7162937  7168004  MACS_peak_4  111.72
4  chr1  7386728  7389090  MACS_peak_5   71.67

In [9]:
bed_name_mm9 = '/data2/josh/chipseq/Rad21/rad21_mm9.bed'
raw_p_mm9.to_csv(bed_name_mm9,sep='\t',index=False, header=False)